<a href="https://colab.research.google.com/github/Maneesha-17/AI_ML2025/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basics**

In [1]:
# Case Sensitive
name = 'Maneesha Veluru'
Name2 = 'Maneesha'
print(name)
print(Name2)
print(Name2)
print(name)

Maneesha Veluru
Maneesha
Maneesha
Maneesha Veluru

In [2]:
statement1 = 'I have started learning Flask which is a Python\
  based Web Framework and created a small Web App on "Puppy Adoption Site". \
  Attached a glimpse of it which covers Add Pup, Lists of Pup and Delete Pup name. \
  I have used My Sql as a database to load the details.'

print(statement1)

I have started learning Flask which is a Python  based Web Framework and created a small Web App on "Puppy Adoption Site".   Attached a glimpse of it which covers Add Pup, Lists of Pup and Delete Pup name.   I have used My Sql as a database to load the details.

In [3]:
# Indentation in python is used to define tthe structre and hierarchy of the code

age = 32
if age > 30:
    print(age)

32

In [4]:
x=5; y = 10; z = x+y
print(z)

15

In [5]:
var1 = 10                 # this is integer
var2 = 'Maneesha Veluru'  # this is string
var3 = 10.547             # this is float
print(var1)
print(type(var1))
print(var2)
print(type(var2))
print(var3)
print(type(var3))

10
<class 'int'>
Maneesha Veluru
<class 'str'>
10.547
<class 'float'>

In [6]:
# b = 5
a = c
print(a)

NameError: name 'c' is not defined

In [7]:
age = 32
height = 6.1
name = "Maneesha"
is_student = True
print("age :",age)
print("Height :",height)
print("Name :",name)

age : 32
Height : 6.1
Name : Maneesha

In [8]:
print('python is a good language')

python is a good language

In [9]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter a number: "))

sum = num1 + num2
diff = num1 - num2
multi = num1 * num2
div = num1 / num2
exp = num1 ** 2
floor_division = num1 // num2
modulus = num1 % num2

print("Sum =", sum)
print("Difference =", diff)
print("Multiplication =", multi)
print("Division =", div)
print("Exponential =", exp)
print("Floor Division =", floor_division)
print("Modulus =", modulus)
print(num1 == num2)

Enter a number: 2.45
Enter a number: 3.78
Sum = 6.23
Difference = -1.3299999999999996
Multiplication = 9.261000000000001
Division = 0.6481481481481483
Exponential = 6.002500000000001
Floor Division = 0.0
Modulus = 2.45
False

In [10]:
# Data Types
# Lists
# Tuples
# Sets
# Dictionaries